body {
    background: rgb(255, 255, 255);
}

html, body { 
    height: 100%;
  }
  
  body {
      width: 100%;
      margin: 0;
      display: flex;
      align-items: center;
    justify-content: center;
  }
  
  #search {
    text-align: center;
  }
  
  button {
    display: inline-block;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: .5em 1em;
    text-align: center;
  }
  
  input {
    border: 1px solid #d6d5d5;
    display: block;
    padding: 1em;
    margin: 2em auto;
    outline: none;
    line-height: 2em;
    width: 80%;
  }